.vscode
__pycache__
data/__pycache__
data/shanghaitech/features
data/shanghaitech/testing
data/ucf-crime/features
data/ucf-crime/info_ucf.txt
data/shanghaitech/info_sh.txt
data/shanghaitech/training
wandb
logger
ckpts/
kfold_runs/
reports/
results/
visualizations/
ckp/
artifacts/
*.pth
test_results/
*.pt
data/ucf-crime/UCF_Crimes/
data/ucf-crime/features/
vis/overlays/